* {
    font-size: medium;
    padding: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li{
    text-align: left;
}
.foto{
    text-align: left;
    padding-left: 4%;
}
.titulo{
    text-align: center;
    font-size: 50px;
}
.subt{
    font-size: 25px;
    text-align: center;
    color: red;
}
.titulos{
    text-align: left;
    font-size: 30px;
    padding-left: 4%;
}

p{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 4%;
}
li{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}
ul{
    list-style-type: circle;
    padding-left: 4%;
}